*{
    margin: 0px;
    padding: 0px;  
}
.container{
    display: flex;   
}
.card{
    display: flex;
    flex-direction: column;
    width: 26%;
    margin-top: 10px;
    margin-left: 139px;
    height: 560px;
    background-color: lightblue;
    border-radius: 10px;  
}
.title spam{
    font-size: 50px;
    color: purple;
    position: relative;
    padding-left: 60px;
    font-family: "times new roman";
}
.addTodo{
    margin: 5px auto;
}
.addTodo input{
    width: 290px;
    border-radius: 5px;
    height: 25px;
    border: 3px solid rgb(148, 144, 144);
}
.addTodo textarea{
    width: 290px;
    height: 215px;
    border: 3px solid rgb(148, 144, 144);
    border-radius: 10px;
}
#addBtn{
    margin:10px auto;
    height: 44px;
    width: 120px;
    background-color: rgb(73, 196, 73);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border-color: white;

}
.background{
    
    background: rgba(0,0,0,0.7) url(../images/table-bg.png);
    background-size: cover;
    min-height: 100vh;
}
table{
    margin-top: 112px;
    margin-left: 110px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    padding: 5px;
    font-size: 15px;
    text-align: inherit;
}
.title{
    width: 118px;
}
.header{
    background-color: rgb(13, 13, 95);
}
.desc{
    width: 438px;
}
td{
    padding: 10px 10px;
    font-size: 20px;
}
.table-content:nth-child(even)
{background-color: #344981;}

.table-content:nth-child(odd)
{background-color: #5d75b4;}

.btn-remove{
    padding: 5px 23px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    background-color: red;
    color: white;
}